.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Nudge {
  padding-left: 2%;
}

.App-link {
  color: #61dafb;
}

.Border {
  border-bottom: 4px #fff4dd solid;
}
